.projectsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsSection h2 {
  font-size: clamp(24px, 5vw, var(--fz-heading));
}

.archiveLink {
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
}

.archiveLink::after {
  bottom: 0.1em;
}

.projectsGrid {
  list-style: none;
  padding: 0;
  margin: 50px 0 0 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  position: relative;
}

@media (max-width: 1080px) {
  .projectsGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.project {
  position: relative;
  cursor: default;
  transition: var(--transition);
}

@media (prefers-reduced-motion: no-preference) {
  .project:hover .projectInner,
  .project:focus-within .projectInner {
    transform: translateY(-7px);
  }
}

.project a {
  position: relative;
  z-index: 1;
}

.projectInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  height: 100%;
  padding: 2rem 1.75rem;
  border-radius: var(--border-radius);

  background-color: var(--dark-grey);
  box-shadow: 0 10px 30px -15px var(--shadow);

  transition: var(--transition);
  overflow: auto;
}

.projectTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.folder {
  color: var(--accent-red);
}

.folder svg {
  width: 40px;
  height: 40px;
}

.projectLinks {
  display: flex;
  align-items: center;
  margin-right: -10px;
  color: var(--text-primary);
}

.projectLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
}

.projectLinks svg {
  width: 20px;
  height: 20px;
}

.external svg {
  width: 22px;
  height: 22px;
  margin-top: -4px;
}

.projectTitle {
  margin: 0 0 10px;
  color: var(--text-highlight);
  font-size: var(--fz-xxl);
}

.projectTitle a {
  position: static;
}

.projectTitle a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 0;
  inset: 0;
}

.projectDescription {
  color: var(--text-primary);
  font-size: 17px;
}

.projectTechList {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;

  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.projectTechList li {
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: 1.75;
}

.projectTechList li:not(:last-of-type) {
  margin-right: 15px;
}

.moreButton {
  margin: 80px auto 0;
  background: transparent;
  border: 1px solid var(--accent-red);
  color: var(--accent-red);
  padding: 1rem 1.75rem;
  border-radius: var(--border-radius);
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  transition: var(--transition);
}

.moreButton:hover,
.moreButton:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accent-red);
  transform: translate(-5px, -5px);
}
