:root {

  /* charcoal and coral */

  --deep-charcoal: #141414;
  --charcoal: #1A1A1A;
  --dark-grey: #282828;
  --medium-grey: #383838;
  --shadow: rgba(20, 20, 20, 0.8);

  --text-subtle: #666666;
  --text-secondary: #A0A0A0;
  --text-primary: #CACACA;
  --text-highlight: #F7F7F7;
  --white: #FFFFFF;
  
  --accent-red: #E55C50;
  --accent-red-tint: rgba(229, 92, 80, 0.15);
  --accent-bright-red: #FF8C8C;
  /* --text-primary: #D6D6D6; */




  /* Charcoal and cotton candy */

  /* --deep-charcoal: #0F1015;
  --charcoal: #17181F;
  --dark-grey: #22232C;
  --medium-grey: #2E2F39;
  --shadow: rgba(15, 16, 21, 0.8);

  --text-subtle: #9CA1B2;
  --text-secondary: #C9CCDA;
  --text-primary: #ECEEF6;
  --text-highlight: #FFFFFF;
  --white: #FFFFFF;

  --accent-red: #F48FB1;
  --accent-red-tint: rgba(244, 143, 177, 0.15);
  --accent-light-red: #FFBED1;
  --accent-bright-red: #FFDAE5;

  --accent-violet: #D0A2FF;
  --accent-teal: #9CF6F6;
  --accent-yellow: #FFE29D; */


  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui,
    sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  --border-radius: 4px;
  --nav-height: 90px;
  --nav-scroll-height: 70px;

  --tab-height: 42px;
  --tab-width: 120px;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  --hamburger-width: 30px;

  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ham-after-active: bottom 0.1s ease-out,
    transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}