:root {
  --charcoal: #141414;
  --dark-grey: #282828;
  --medium-grey: #383838;
  --shadow: #141414cc;

  --text-subtle: #666666;
  --text-secondary: #a0a0a0;
  --text-primary: #cacaca;
  --text-highlight: #f7f7f7;
  --white: #ffffff;

  --accent-red: #e55c50;
  --accent-red-tint: #e55c5026;
  --accent-bright-red: #ff8c8c;

  --font-sans: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;

  --border-radius: 4px;
  --nav-height: 90px;

  --tab-height: 42px;
  --tab-width: 200px;

  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);

  --hamburger-width: 30px;
}
