.contactSection {
  max-width: 600px;
  margin: 0 auto 100px;
  text-align: center;
}

@media (max-width: 768px) {
  .contactSection {
    margin: 0 auto 50px;
  }
}

.overline {
  display: block;
  margin-bottom: 20px;
  color: var(--accent-red);
  font-family: var(--font-mono);
  font-size: var(--fz-md);
  font-weight: 400;
}

.overline::before {
  bottom: 0;
  font-size: var(--fz-sm);
}

.overline::after {
  display: none;
}

.title {
  font-size: clamp(40px, 5vw, 60px);
}

.emailLink {
  margin-top: 50px;
  padding: 1.25rem 1.75rem;
  border: 1px solid var(--accent-red);
  border-radius: var(--border-radius);
  color: var(--accent-red);
  background: transparent;
  font-family: var(--font-mono);
  font-size: var(--fz-sm);
  transition: var(--transition);
  display: inline-block;
}

.emailLink:hover,
.emailLink:focus-visible {
  box-shadow: 4px 4px 0 0 var(--accent-red);
  transform: translate(-5px, -5px);
}
