.header {
  width: 100%;
  bottom: 20px;
  position: fixed;
  z-index: 11;
  min-height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo a {
  color: var(--accent);
  position: relative;
  z-index: 1;
  text-decoration: none;
  transition: var(--transition);
}

.logoImage {
  border-radius: var(--border-radius-circle);
  object-fit: cover;
  transition: var(--transition);
}

.logoImage:hover,
.logoImage:focus {
  cursor: pointer;
  transform: scale(1.1);
}
