.tableContainer {
  margin: 100px -20px;
}

@media (max-width: 768px) {
  .tableContainer {
    margin: 50px -10px;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.hideOnMobile {
  display: table-cell;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }
}

.table tbody tr:hover,
.table tbody tr:focus {
  background-color: var(--dark-grey);
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

.table th:first-child,
.table td:first-child {
  padding-left: 20px;
}

@media (max-width: 768px) {
  .table th:first-child,
  .table td:first-child {
    padding-left: 10px;
  }
}

.table th:last-child,
.table td:last-child {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .table th:last-child,
  .table td:last-child {
    padding-right: 10px;
  }
}

.table td svg {
  width: 20px;
  height: 20px;
}

.table tr {
  cursor: default;
}

.table tr td:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.table tr td:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.year {
  padding-right: 20px;
}

@media (max-width: 768px) {
  .year {
    padding-right: 10px;
    font-size: var(--fz-sm);
  }
}

.title {
  padding-top: 15px;
  padding-right: 20px;
  color: var(--text-highlight);
  font-size: var(--fz-xl);
  font-weight: 600;
  line-height: 1.25;
}

.company {
  font-size: var(--fz-lg);
  white-space: nowrap;
}

.tech {
  font-size: var(--fz-xxs);
  font-family: var(--font-mono);
  line-height: 1.5;
}

.separator {
  margin: 0 5px;
}

.links {
  min-width: 100px;
}

.links div {
  display: flex;
  align-items: center;
}

.links a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.links a + a {
  margin-left: 10px;
}
